/* Top toolbar styles*/
md-toolbar {
  box-shadow: 0px 1px 4px #777;
}

md-toolbar img {
  height: 50px;
  width: auto;
  margin: 7px 0px 0px 20px;
}

md-toolbar div{
   color: #333;
   font-size: 16px;
   margin: 17px 10px 0px 5px;
}

md-toolbar div img{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-top: -8px;
}


/* Side navigation styles */
section {
  height: 100%;
}

section md-sidenav {
  height: 100%;
  box-shadow: none;
  background-color: #333;
}

section md-sidenav .myMenu a {
  display: block;
  padding: 15px;
  color: #aaa;
  text-decoration: none;
  border-bottom: 1px solid #aaa;
}

section md-sidenav .myMenu a md-icon {
  color: #aaa;
  font-size: 18px;
  padding-top: 3px;
  margin: 0px 20px;
}

.highLight {
  color: #fff;
  border-left: 5px deepskyblue solid;
}

/* Main content area */
section md-content {
  background-color: #f3f3f3;
  overflow: unset;
}
