.listBox {
    box-shadow: 0px 0px 7px #777;
}

/* Listbox Toolbar styles */
.listBox md-toolbar{
    box-shadow: none;
    margin-bottom: 10px;
}

.listBox md-toolbar .md-toolbar-tools{
    color: #fff;
}

.listBox md-toolbar .md-toolbar-tools .toolbarButton .iconButton {
    margin-right: 5px;
}


/* Listbox Serach bar styles */
.listBox .searchBar md-input-container {
    margin: 10px 10px 0px 10px;
}

.listBox .searchBar md-input-container md-datepicker {
    width: 100%;
}

.listBox .searchBar .searchButton {
    height: 40px;
    margin-left: 20px;
    border-radius: 5px;
    margin-top: -10px;
}

/* Listbox document list styles */
.listBox .docList {
    background-color: #fff;
    min-height: 350px;
}

.listBox .docList .listHeader {
    font-size: 15px;
    color: #777;
    margin-bottom: 10px;
        padding: 10px 30px;
}

.listBox .docList #listArea .listContent {
    width: 100%;
    margin: 0;
    padding: 15px 30px 10px 30px;
}

.listBox .docList #listArea .listContent:hover {
    background-color: #d8e1fc;
    cursor: pointer;
}

/* Message displayed at the bottom of listbox */
.bottomMessage {
    margin-bottom: 100px;
    margin-top: 10px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    text-align: center;
}

/* To prevent the outline on focused div */
div:focus {
    outline: none;
    border: 0;
}