<div class="listBox">
    <md-toolbar>
        <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="toolbarButton" ng-click="buttonOne()"><md-icon class="iconButton">{{iconOne}}</md-icon>{{buttonLabelOne}}</md-button>
        |
        <md-button class="toolbarButton" ng-click="buttonTwo()"><md-icon class="iconButton">{{iconTwo}}</md-icon>{{buttonLabelTwo}}</md-button>
        </div>
    </md-toolbar>

    <div layout="row" layout-align="center" class="searchBar md-inline-form">
        <md-input-container>
            <label>Doc Number</label>
            <input>
        </md-input-container>
        <md-input-container>
            <label>Doc Version</label>
            <input>
        </md-input-container>
        <md-input-container>
            <label>Created By</label>
            <input>
        </md-input-container>
        <md-input-container>
        <md-datepicker ng-model="createdDate" md-hide-icons="calendar" md-placeholder="Created Date" ></md-datepicker>
       </md-input-container>
       <md-input-container>
        <md-button class="md-primary md-raised searchButton">Search</md-button>
        </md-input-container>
    </div>

    <div class="docList">
        <div class="listHeader" layout="row">
            <div flex="10"><md-checkbox ng-model="allSelected" aria-label=" " ng-click="selectAll()"></md-checkbox></div>
            <div flex="20">DOC. NUMBER</div>
            <div flex="20">DOC. VERSION</div>
            <div flex="30">CREATED BY</div>
            <div flex="20">CREATED DATE</div>
        </div>
            <div id="listArea">
                <div class="listContent" layout="row" ng-repeat="list in listData" ng-if="list.status==status">
                        <div flex="10"><md-checkbox ng-model="list.selected" aria-label=" "></md-checkbox></div>
                        <div flex="20" ng-click="list.selected=!list.selected">{{list.docNumber}}</div>
                        <div flex="20" ng-click="list.selected=!list.selected">{{list.docVersion}}</div>
                        <div flex="30" ng-click="list.selected=!list.selected">{{list.createdBy}}</div>
                        <div flex="20" ng-click="list.selected=!list.selected">{{list.createdDate}}</div>
                </div>
            </div>
    </div>
</div>
<div class="bottomMessage" ng-if="loadMore">
    <md-icon>arrow_downward</md-icon>&nbsp;scroll down to load more documents&nbsp;<md-icon>arrow_downward</md-icon>
</div>
<div class="bottomMessage" ng-if="noMoreRecords">~ no more documents ~</div>